<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Budget Tracker</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body style="background-color: #F5F8FA">
<header th:insert="fragments/general.html :: header"> </header>

<div class="container col-lg-8 mx-auto my-5 py-md-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h1 class="mb-4">Uncategorized Expenses</h1>

            <div th:insert="fragments/general.html :: alerts"></div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Memo</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <span th:each="transaction : ${transactions}">
                        <tr>
                            <form class="row g-3" action="#" method="post"
                              th:action="@{/transaction/categorize/{id}(id=${transaction.id})}" th:object="${transaction}">
                                <td><input type="text" class="form-control" id="id" th:field="*{id}"
                                           readonly></td>
                                <td><input type="text" class="form-control" id="date" th:field="*{date}"
                                           readonly></td>
                                <td><input type="text" class="form-control" id="description"
                                           th:field="*{description}" readonly></td>
                                <td><input type="text" class="form-control" id="memo"
                                           th:field="*{memo}" readonly></td>
                                <td><input type="text" class="form-control" id="amount"
                                           th:field="*{amount}" readonly></td>
                                <td>
                                    <select id="category" name="category" th:field="*{category}">
                                        <option th:each="category : ${categories}" th:selected="${category}"
                                                th:text="${category}" th:value="${category}"></option>
                                    </select>
                                </td>
                                <td><button type="submit" class="btn btn-success">Save</button></td>
                            </form>
                        </tr>
                    </span>
                </tbody>
            </table>

        </div>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"> </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>